<div class="side-header">
  <div class="username">
    <a href="#">tom</a>
  </div>
  <div class="link-new-chat">
    <a href="#">
      チャットを作成する</a>  
  </div>
</div>

<div class="rooms"> 
  <div class="room-name">
    <div class="room">
      <a href="#">テスト１</a>
    </div>

    <div class="room">
      <a href="#">テスト2</a>
    </div>
  </div>
</div>